@import "_default";

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
  list-style-type: none;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  main {
    width: 100%;

    section {
      width: 70%;

      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      & > div:first-child {
        width: 64%;

        & > div:nth-child(1) {
          img {
            width: 100%;
          }
        }
        & > div:nth-child(2) {
          background-color: #242424;
          margin: 0.5rem 0;
          display: flex;
          justify-content: center;
          align-items: center;

          & > h1 {
            padding: 1rem 0;
            font-family: arial;
            text-align: center;
            font-size: 2rem;
            color: white;
            margin-right: 10px;
          }
        }
        & > div:nth-child(3) {
          display: flex;
          justify-content: space-between;
          & > div {
            width: 49.5%;
            & > img {
              width: 100%;
              height: 100%;
              border: 1px solid grey;
            }
          }
        }
      }

      & > div:last-child {
        width: 35%;
        & > div:nth-child(1) {
          width: 100%;
          background-color: #c7c7c7;
          padding: 1rem 1rem;
          & > h2 {
            font-family: Impact, Haettenschweiler, "Arial Narrow Bold",
              sans-serif;
            font-size: 1.5rem;
            text-align: center;
            color: white;
            font-weight: lighter;
            letter-spacing: 2px;
            word-spacing: 4px;
            margin: 1.5rem 0;
          }
          & > p {
            margin-top: 0.5rem;
            font-size: 1rem;
            letter-spacing: 1px;
            word-wrap: 3px;
            line-height: 1.5rem;
            text-align: justify;
          }

          & > p:nth-child(3) {
            display: none;
          }
          & > a {
            display: inline-block;
            margin-top: 1.3rem;
            margin-bottom: 0.5rem;
            font-family: arial;
            font-weight: bold;
            font-size: 1rem;
            text-decoration: none;
            color: white;
          }
        }
        & > div:nth-child(2) {
          width: 100%;
          margin: 0.5rem 0;
          img {
            width: 100%;
          }
        }
        & > div:nth-child(3) {
          width: 100%;
          background-color: #c7c7c7;
          padding: 1rem 0.5rem;
          text-align: center;
          a {
            font-size: 1.2rem;
            font-family: arial;
            display: inline-block;
            text-decoration: none;
            color: white;
          }
          h2 {
            font-size: 1.5rem;
            margin-top: 0.5rem;
            font-family: arial;
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  main {
    width: 100%;

    section {
      width: 100%;
      margin-top: 1rem;
      display: flex;
      flex-direction: column;

      & > div:first-child {
        width: 100%;

        & > div:nth-child(1) {
          width: 100%;
          display: flex;
          border: 1px solid #ddd;
          box-shadow: 0 0 4px silver;
          img {
            width: 100%;
          }
        }
        & > div:nth-child(2) {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          background-color: #242424;
          margin-top: 0.5rem;
          padding: 0.5rem 0;
          box-shadow: 0 0 4px #242424;
          h1 {
            text-align: center;
            font-size: 2rem;
            font-weight: lighter;
            color: white;
            margin-right: 20px;
          }
        }
        & > div:nth-child(3) {
          width: 100%;
          height: 350px;
          display: flex;
          justify-content: space-between;
          margin-top: 0.5rem;

          div {
            width: 49.5%;
            height: 100%;
            box-shadow: 0 0 5px silver;
            img {
              width: 100%;
              height: 100%;
              border: 1px solid #ddd;
            }
          }
        }
      }
      & > div:last-child {
        width: 100%;
        margin-top: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        & > div:nth-child(1) {
          width: 49.5%;
          background-color: #c7c7c7;
          padding: 0.5rem 2rem;
          box-shadow: 0 0 3px grey;
          h2 {
            margin: 1rem 0;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.5rem;
            text-align: center;
            color: white;
            font-weight: bold;
            letter-spacing: 1px;
            word-spacing: 3px;
          }
          p {
            text-indent: 20px;
            margin: 0.5rem;
            font-size: 1rem;
            letter-spacing: 1px;
            line-height: 2rem;
            text-align: justify;
          }

          p:nth-child(3) {
            display: none;
          }
          a {
            display: inline-block;
            margin: 1rem 0.5rem;
            font-family: arial;
            font-weight: bold;
            font-size: 1.2rem;
            text-decoration: none;
            color: white;
          }
        }
        & > div:nth-child(2) {
          width: 49.5%;
          margin: 0.5rem 0;
          border: 1px solid grey;
          display: flex;
          box-shadow: 0 0 4px grey;

          img {
            width: 100%;
          }
        }
        & > div:nth-child(3) {
          width: 100%;
          background-color: #c7c7c7;
          padding: 1rem 1rem;
          border: 1px solid #ddd;
          box-shadow: 0 0 4px silver;
          p {
            text-align: center;
            a {
              font-size: 1.5rem;
              display: block;
              text-decoration: none;
              color: white;
            }
          }
          h2 {
            font-size: 2rem;
            margin-top: 0.5rem;

            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  main {
    width: 100%;

    section {
      width: 100%;
      margin-top: 1rem;
      display: flex;
      flex-direction: column;

      & > div:first-child {
        width: 100%;

        & > div:nth-child(1) {
          width: 100%;
          display: flex;
          border: 1px solid #ddd;
          box-shadow: 0 0 4px silver;
          img {
            width: 100%;
          }
        }
        & > div:nth-child(2) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: #242424;
          margin-top: 0.5rem;
          padding: 0.5rem 0;
          box-shadow: 0 0 4px #242424;
          h1 {
            text-align: center;
            font-size: 1.8rem;
            font-weight: lighter;
            color: white;
          }
        }
        & > div:nth-child(3) {
          width: 100%;
          height: 160px;
          display: flex;
          justify-content: space-between;
          margin-top: 0.5rem;

          div {
            width: 49.5%;
            height: 100%;
            box-shadow: 0 0 5px silver;
            img {
              width: 100%;
              height: 100%;
              border: 1px solid #ddd;
            }
          }
        }
      }
      & > div:last-child {
        width: 100%;
        margin-top: 0.5rem;

        & > div:nth-child(1) {
          width: 100%;
          background-color: #c7c7c7;
          padding: 0.5rem 1.5rem;
          box-shadow: 0 0 3px grey;
          h2 {
            margin: 1rem 0;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.3rem;
            text-align: center;
            color: white;
            font-weight: bold;
            letter-spacing: 1px;
            word-spacing: 3px;
          }
          p {
            margin: 0 0;
            font-size: 1rem;
            letter-spacing: 1px;
            line-height: 2rem;
            text-align: justify;
          }

          p:nth-child(3) {
            display: none;
          }
          a {
            display: inline-block;
            margin: 1rem 0;
            font-family: arial;
            font-weight: bold;
            font-size: 1rem;
            text-decoration: none;
            color: white;
          }
        }
        & > div:nth-child(2) {
          width: 100%;
          margin: 0.5rem 0;
          border: 1px solid grey;
          display: flex;
          box-shadow: 0 0 4px grey;

          img {
            width: 100%;
          }
        }
        & > div:nth-child(3) {
          width: 100%;
          background-color: #c7c7c7;
          padding: 1rem 1rem;
          border: 1px solid #ddd;
          box-shadow: 0 0 4px silver;
          p {
            text-align: center;
            a {
              font-size: 1.2rem;
              display: block;
              text-decoration: none;
              color: white;
            }
          }
          h2 {
            font-size: 2rem;
            margin-top: 0.5rem;

            text-align: center;
          }
        }
      }
    }
  }
}
