@media screen and (min-width: 768px) {
  main {
    width: 100%;
  }
  main .fa-bars {
    display: none;
  }
  main .topcloseicon {
    display: none;
  }
  main #navformobil {
    display: none;
  }
  main header {
    width: 100%;
    padding: 3em 0;
    text-align: center;
    font-size: 10px;
    border-bottom: 1px solid black;
    box-shadow: 2px 29px 28px -8px #e1e2e2 inset;
  }
  main header hr {
    width: 15%;
    margin: 0.5em auto;
    border: 2px solid #ffe30f;
  }
  main header h1 a {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-decoration: none;
    display: block;
    font-size: 2em;
    font-weight: lighter;
    letter-spacing: 1px;
    color: rgb(17, 17, 17);
  }
  main nav {
    width: 100%;
    margin: 0 auto;
    font-size: 10px;
  }
  main nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em 0;
  }
  main nav ul li a {
    font-family: arial;
    font-size: 1.6em;
    text-decoration: none;
    display: block;
    color: rgb(100, 100, 100);
    padding: 0 3.2em;
    transition: all 0.6s;
  }
  main nav ul li:not(:last-child) {
    border-right: 1px solid black;
    text-align: center;
  }
  main nav ul li:not(:first-child) a:hover {
    color: black;
  }
  main nav ul li:first-child a {
    color: black;
  }
  main nav ul li:last-child a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main nav ul li:last-child a i {
    font-size: 2em;
    margin-right: 0.3em;
    color: black;
  }
  main footer {
    width: 100%;
    padding: 0 1rem;
    border-top: 1px solid black;
    margin-top: 7rem;
    padding-top: 1.5rem;
  }
  main footer > div {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main footer > div div:first-child {
    width: 30%;
  }
  main footer > div div:first-child a {
    font-size: 2rem;
    color: black;
    margin-right: 0.5rem;
    transition: all 0.6s;
  }
  main footer > div div:first-child a:hover {
    color: rgb(63, 63, 63);
  }
  main footer > div div:last-child {
    width: 70%;
  }
  main footer > div div:last-child p {
    font-size: 1.2rem;
    word-break: 4px;
    letter-spacing: 1px;
  }
  #chatbutton {
    width: 200px;
    height: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    padding: 10px 15px;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  #chatbutton div {
    text-align: center;
  }
  #chatbutton div img {
    width: 60%;
    border-radius: 50%;
    padding: 8px;
    background-color: white;
  }
  #chatbutton span {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1.3rem;
    color: #ececec;
    letter-spacing: 1px;
  }
  #chatbox {
    border: 1px solid rgb(36, 36, 36);
    width: 320px;
    height: 450px;
    font-size: 10px;
    position: fixed;
    right: 0;
    bottom: -450px;
    z-index: 3;
    box-shadow: -4px 0 10px rgb(71, 71, 71);
  }
  #chatbox .chat-box-head {
    width: 100%;
    height: 14%;
    background-color: rgba(36, 36, 36, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 1rem;
  }
  #chatbox .chat-box-head > div:nth-child(1) {
    width: 50px;
    height: 50px;
    position: relative;
  }
  #chatbox .chat-box-head > div:nth-child(1) img {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: white;
  }
  #chatbox .chat-box-head > div:nth-child(1) span {
    width: 12px;
    height: 12px;
    display: inline-block;
    background-color: #43b72a;
    border: 2px solid #242424;
    border-radius: 50%;
    position: absolute;
    bottom: 2px;
    right: 1.5px;
  }
  #chatbox .chat-box-head > div:nth-child(2) h6 {
    font-size: 1rem;
    color: #dadada;
  }
  #chatbox .chat-box-head > div:nth-child(2) p {
    font-size: 14px;
    color: #cfcfcf;
    margin-top: 5px;
  }
  #chatbox .chat-box-head .fa-xmark {
    color: black;
    padding: 5px 7px;
    font-size: 1rem;
    cursor: pointer;
    background-color: white;
  }
  #chatbox .chat-box-body {
    max-width: 100%;
    height: 74%;
    overflow: auto;
    word-wrap: break-word;
    background-color: rgba(233, 233, 233, 0.9);
    overflow-y: auto;
    padding: 20px;
    text-overflow: clip;
    font-size: 1rem;
    color: grey;
  }
  #chatbox .chat-box-body .chat-box-body-inner {
    width: 70%;
    margin-left: 30%;
    padding: 10px;
    line-height: 1.5rem;
    border-radius: 10px 0 10px 10px;
    color: white;
    word-wrap: break-word;
    word-break: keep-all;
  }
  #chatbox .chat-box-footer {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 0 10px;
  }
  #chatbox .chat-box-footer #smile-text-input {
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
  }
  #chatbox .chat-box-footer #smile-text-input .fa-face-smile {
    color: rgb(27, 27, 27);
    font-size: 1.3rem;
    color: rgb(82, 82, 82);
    padding: 5px;
    cursor: pointer;
  }
  #chatbox .chat-box-footer #smile-text-input #text-input {
    width: 100%;
    height: 100%;
    padding: 15px 5px;
    border: none;
    outline: none;
    font-size: 1rem;
    word-wrap: break-word;
  }
  #chatbox .chat-box-footer #smile-text-input #text-input::-moz-placeholder {
    color: grey;
  }
  #chatbox .chat-box-footer #smile-text-input #text-input:-ms-input-placeholder {
    color: grey;
  }
  #chatbox .chat-box-footer #smile-text-input #text-input::placeholder {
    color: grey;
  }
  #chatbox .chat-box-footer #scripka-camera-input {
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
  }
  #chatbox .chat-box-footer #scripka-camera-input #file-scripka-span {
    display: inline-block;
    position: relative;
  }
  #chatbox .chat-box-footer #scripka-camera-input #file-scripka-span #file-scripka {
    opacity: 0;
    width: 100%;
    position: absolute;
    width: 100%;
    text-align: center;
  }
  #chatbox .chat-box-footer #scripka-camera-input #file-scripka-span img {
    width: 80%;
    cursor: pointer;
  }
  #chatbox .chat-box-footer #scripka-camera-input #file-camera-span {
    display: inline-block;
  }
  #chatbox .chat-box-footer #scripka-camera-input #file-camera-span #file-camera {
    opacity: 0;
    width: 100%;
    position: absolute;
    width: 100%;
    text-align: center;
  }
  #chatbox .chat-box-footer #scripka-camera-input #file-camera-span img {
    width: 80%;
    cursor: pointer;
  }
  #chatbox .chat-box-footer .send-message-icon {
    display: none;
    position: absolute;
    height: 60%;
    top: 20%;
    right: 5px;
    opacity: 0.8;
    cursor: pointer;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  main {
    width: 100%;
  }
  main .fa-bars {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2rem;
  }
  main .topcloseicon {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2rem;
    display: none;
    z-index: 2;
  }
  main #navformobil {
    width: 60%;
    height: 100vh;
    background-color: rgba(139, 139, 139, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -60%;
    z-index: 1;
    box-shadow: 0 4px 10px grey;
  }
  main #navformobil li:not(:first-child) {
    width: 50%;
    margin-bottom: 0.5rem;
    text-align: center;
    border-bottom: thin solid rgb(168, 167, 167);
  }
  main #navformobil li:not(:first-child) a {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 1rem 1rem;
  }
  main #navformobil li:first-child {
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main #navformobil li:first-child a {
    text-decoration: none;
    color: rgb(22, 22, 22);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main #navformobil li:first-child a i {
    font-size: 2.5rem;
    margin-right: 1rem;
  }
  main #navformobil li:first-child a span {
    font-size: 2rem;
  }
  main header {
    width: 100%;
    padding: 1.5rem 0;
    text-align: center;
    border-bottom: 1px solid black;
    box-shadow: 2px 29px 28px -8px #e1e2e2 inset;
  }
  main header hr {
    width: 220px;
    margin: 0.5rem auto;
    border: 2px solid #ffe30f;
  }
  main header h1 {
    width: 100%;
  }
  main header h1 a {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    display: block;
    font-size: 2.5rem;
    font-weight: lighter;
    letter-spacing: 1px;
    color: rgb(17, 17, 17);
  }
  main nav {
    display: none;
  }
  main nav #navforpc {
    display: none;
  }
  main footer {
    width: 100%;
    border-top: 1px solid black;
    margin-top: 0.5rem;
    padding: 1rem 2rem;
  }
  main footer > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  main footer > div div:first-child {
    width: 30%;
  }
  main footer > div div:first-child a {
    font-size: 2rem;
    color: black;
    margin-right: 0.5rem;
    text-shadow: 0 0 2px grey;
  }
  main footer > div div:last-child {
    width: 70%;
  }
  main footer > div div:last-child p {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  #chatbutton {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    border-radius: 50%;
    padding: 0 0.5rem;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  #chatbutton div {
    width: 60%;
    margin-right: 3px;
  }
  #chatbutton div img {
    width: 100%;
    border-radius: 50%;
    background-color: white;
  }
  #chatbutton span {
    width: 40%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 0.8rem;
    color: #ececec;
  }
  #chatbox {
    border: 1px solid rgb(36, 36, 36);
    width: 300px;
    height: 70vh;
    font-size: 10px;
    position: fixed;
    right: 0;
    bottom: -100vh;
    z-index: 3;
    box-shadow: -4px -4px 10px rgb(71, 71, 71);
  }
  #chatbox .chat-box-head {
    width: 100%;
    height: 14%;
    background-color: rgba(36, 36, 36, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 1rem;
  }
  #chatbox .chat-box-head > div:nth-child(1) {
    width: 50px;
    height: 50px;
    position: relative;
  }
  #chatbox .chat-box-head > div:nth-child(1) img {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: white;
  }
  #chatbox .chat-box-head > div:nth-child(1) span {
    width: 12px;
    height: 12px;
    display: inline-block;
    background-color: #43b72a;
    border: 2px solid #242424;
    border-radius: 50%;
    position: absolute;
    bottom: 2px;
    right: 1.5px;
  }
  #chatbox .chat-box-head > div:nth-child(2) h6 {
    font-size: 1rem;
    color: #dadada;
  }
  #chatbox .chat-box-head > div:nth-child(2) p {
    font-size: 14px;
    color: #cfcfcf;
    margin-top: 5px;
  }
  #chatbox .chat-box-head .fa-xmark {
    color: black;
    padding: 5px 7px;
    font-size: 1rem;
    cursor: pointer;
    background-color: white;
  }
  #chatbox .chat-box-body {
    max-width: 100%;
    height: 78%;
    overflow: auto;
    word-wrap: break-word;
    background-color: rgba(233, 233, 233, 0.9);
    overflow-y: auto;
    padding: 20px;
    text-overflow: clip;
    font-size: 1rem;
    color: grey;
  }
  #chatbox .chat-box-body .chat-box-body-inner {
    width: 70%;
    margin-left: 30%;
    padding: 10px;
    line-height: 1.5rem;
    border-radius: 10px 0 10px 10px;
    color: white;
    word-wrap: break-word;
    word-break: keep-all;
  }
  #chatbox .chat-box-footer {
    width: 100%;
    height: 8%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  #chatbox .chat-box-footer #smile-text-input {
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
  }
  #chatbox .chat-box-footer #smile-text-input .fa-face-smile {
    color: rgb(27, 27, 27);
    font-size: 1.3rem;
    color: rgb(82, 82, 82);
    padding: 5px;
    cursor: pointer;
  }
  #chatbox .chat-box-footer #smile-text-input #text-input {
    width: 100%;
    height: 100%;
    padding: 15px 5px;
    border: none;
    outline: none;
    font-size: 1rem;
    word-wrap: break-word;
  }
  #chatbox .chat-box-footer #smile-text-input #text-input::-moz-placeholder {
    color: grey;
  }
  #chatbox .chat-box-footer #smile-text-input #text-input:-ms-input-placeholder {
    color: grey;
  }
  #chatbox .chat-box-footer #smile-text-input #text-input::placeholder {
    color: grey;
  }
  #chatbox .chat-box-footer #scripka-camera-input {
    display: flex;
    align-items: center;
    display: flex;
    width: 20%;
    height: 100%;
  }
  #chatbox .chat-box-footer #scripka-camera-input #file-scripka-span {
    display: inline-block;
    position: relative;
  }
  #chatbox .chat-box-footer #scripka-camera-input #file-scripka-span #file-scripka {
    opacity: 0;
    width: 100%;
    position: absolute;
    width: 100%;
    text-align: center;
  }
  #chatbox .chat-box-footer #scripka-camera-input #file-scripka-span img {
    width: 80%;
    cursor: pointer;
  }
  #chatbox .chat-box-footer #scripka-camera-input #file-camera-span {
    display: inline-block;
  }
  #chatbox .chat-box-footer #scripka-camera-input #file-camera-span #file-camera {
    opacity: 0;
    width: 100%;
    position: absolute;
    width: 100%;
    text-align: center;
  }
  #chatbox .chat-box-footer #scripka-camera-input #file-camera-span img {
    width: 80%;
    cursor: pointer;
  }
  #chatbox .chat-box-footer .send-message-icon {
    display: none;
    position: absolute;
    height: 100%;
    top: 5px;
    right: 5px;
    opacity: 0.8;
  }
}
@media screen and (max-width: 480px) {
  main {
    width: 100%;
  }
  main .fa-bars {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
  }
  main .topcloseicon {
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    display: none;
    z-index: 2;
  }
  main #navformobil {
    width: 100%;
    height: 100vh;
    background-color: rgb(139, 139, 139);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 1;
  }
  main #navformobil li:not(:first-child) {
    width: 40%;
    margin-bottom: 0.5rem;
    text-align: center;
    border-bottom: thin solid rgb(168, 167, 167);
  }
  main #navformobil li:not(:first-child) a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 1rem 1rem;
  }
  main #navformobil li:first-child {
    width: 60%;
    text-align: center;
    margin-bottom: 1rem;
  }
  main #navformobil li:first-child a {
    text-decoration: none;
    color: rgb(22, 22, 22);
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    padding: 1rem 1rem;
  }
  main #navformobil li:first-child a i {
    font-size: 2rem;
    margin-right: 0.5rem;
  }
  main #navformobil li:first-child a span {
    font-size: 1.5rem;
  }
  main header {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    border-bottom: 1px solid black;
    box-shadow: 2px 29px 28px -8px #e1e2e2 inset;
  }
  main header hr {
    width: 40%;
    margin: 0.5rem auto;
    border: 2px solid #ffe30f;
  }
  main header h1 {
    width: 100%;
  }
  main header h1 a {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    display: block;
    font-size: 2rem;
    font-weight: lighter;
    letter-spacing: 1px;
    color: rgb(17, 17, 17);
  }
  main nav {
    display: none;
  }
  main nav #navforpc {
    display: none;
  }
  main footer {
    width: 100%;
    padding: 0;
    border-top: 1px solid black;
    margin-top: 0.5rem;
    padding-top: 1.5rem;
  }
  main footer > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main footer > div div:first-child {
    width: 100%;
    text-align: center;
  }
  main footer > div div:first-child a {
    font-size: 2rem;
    color: black;
    margin-right: 0.5rem;
    text-shadow: 0 0 2px grey;
  }
  main footer > div div:last-child {
    width: 100%;
    margin-top: 0.5rem;
    text-align: center;
    margin-bottom: 0.2rem;
  }
  main footer > div div:last-child p {
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
  #chatbutton {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(36, 36, 36, 0.8);
    border-radius: 50%;
    padding: 0 0.5rem;
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
  #chatbutton div {
    width: 55%;
    margin-right: 3px;
  }
  #chatbutton div img {
    width: 100%;
    border-radius: 50%;
    background-color: white;
    padding: 4px;
  }
  #chatbutton span {
    width: 45%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 0.8rem;
    color: #ececec;
  }
  #chatbox {
    width: 100%;
    height: 94vh;
    font-size: 10px;
    position: fixed;
    bottom: -100vh;
    left: 0;
    z-index: 3;
  }
  #chatbox .chat-box-head {
    width: 100%;
    height: 14%;
    background-color: #242424;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
  }
  #chatbox .chat-box-head > div:nth-child(1) {
    width: 50px;
    height: 50px;
    position: relative;
  }
  #chatbox .chat-box-head > div:nth-child(1) img {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: white;
  }
  #chatbox .chat-box-head > div:nth-child(1) span {
    width: 12px;
    height: 12px;
    display: inline-block;
    background-color: #43b72a;
    border: 2px solid #242424;
    border-radius: 50%;
    position: absolute;
    bottom: 2px;
    right: 1.5px;
  }
  #chatbox .chat-box-head > div:nth-child(2) h6 {
    font-size: 1rem;
    color: #dadada;
  }
  #chatbox .chat-box-head > div:nth-child(2) p {
    font-size: 14px;
    color: #cfcfcf;
    margin-top: 5px;
  }
  #chatbox .chat-box-head .fa-xmark {
    color: black;
    padding: 5px 7px;
    font-size: 1rem;
    cursor: pointer;
    background-color: white;
  }
  #chatbox .chat-box-body {
    max-width: 100%;
    height: 78%;
    overflow: auto;
    word-wrap: break-word;
    background-color: #e9e9e9;
    overflow-y: auto;
    padding: 20px;
    text-overflow: clip;
    font-size: 1rem;
    color: grey;
  }
  #chatbox .chat-box-body .chat-box-body-inner {
    width: 70%;
    margin-left: 30%;
    padding: 10px;
    line-height: 1.5rem;
    border-radius: 10px 0 10px 10px;
    color: white;
    word-wrap: break-word;
    word-break: keep-all;
  }
  #chatbox .chat-box-footer {
    width: 100%;
    height: 8%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  #chatbox .chat-box-footer #smile-text-input {
    display: flex;
    align-items: center;
    width: 80%;
  }
  #chatbox .chat-box-footer #smile-text-input .fa-face-smile {
    color: rgb(27, 27, 27);
    font-size: 1.3rem;
    color: rgb(82, 82, 82);
    padding: 5px;
    cursor: pointer;
  }
  #chatbox .chat-box-footer #smile-text-input #text-input {
    width: 100%;
    height: 40px;
    padding: 15px 5px;
    border: none;
    outline: none;
    font-size: 1rem;
    word-wrap: break-word;
  }
  #chatbox .chat-box-footer #smile-text-input #text-input::-moz-placeholder {
    color: grey;
  }
  #chatbox .chat-box-footer #smile-text-input #text-input:-ms-input-placeholder {
    color: grey;
  }
  #chatbox .chat-box-footer #smile-text-input #text-input::placeholder {
    color: grey;
  }
  #chatbox .chat-box-footer #scripka-camera-input {
    display: flex;
    align-items: center;
    display: flex;
    width: 20%;
  }
  #chatbox .chat-box-footer #scripka-camera-input #file-scripka-span {
    display: inline-block;
    position: relative;
  }
  #chatbox .chat-box-footer #scripka-camera-input #file-scripka-span #file-scripka {
    opacity: 0;
    width: 100%;
    position: absolute;
    width: 100%;
    text-align: center;
  }
  #chatbox .chat-box-footer #scripka-camera-input #file-scripka-span img {
    width: 80%;
    cursor: pointer;
  }
  #chatbox .chat-box-footer #scripka-camera-input #file-camera-span {
    display: inline-block;
  }
  #chatbox .chat-box-footer #scripka-camera-input #file-camera-span #file-camera {
    opacity: 0;
    width: 100%;
    position: absolute;
    width: 100%;
    text-align: center;
  }
  #chatbox .chat-box-footer #scripka-camera-input #file-camera-span img {
    width: 80%;
    cursor: pointer;
  }
  #chatbox .chat-box-footer .send-message-icon {
    display: none;
    position: absolute;
    height: 60%;
    top: 20%;
    right: 5px;
    opacity: 0.8;
    cursor: pointer;
  }
}
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
  list-style-type: none;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  main {
    width: 100%;
  }
  main section {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  main section > div:first-child {
    width: 64%;
  }
  main section > div:first-child > div:nth-child(1) img {
    width: 100%;
  }
  main section > div:first-child > div:nth-child(2) {
    background-color: #242424;
    margin: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main section > div:first-child > div:nth-child(2) > h1 {
    padding: 1rem 0;
    font-family: arial;
    text-align: center;
    font-size: 2rem;
    color: white;
    margin-right: 10px;
  }
  main section > div:first-child > div:nth-child(3) {
    display: flex;
    justify-content: space-between;
  }
  main section > div:first-child > div:nth-child(3) > div {
    width: 49.5%;
  }
  main section > div:first-child > div:nth-child(3) > div > img {
    width: 100%;
    height: 100%;
    border: 1px solid grey;
  }
  main section > div:last-child {
    width: 35%;
  }
  main section > div:last-child > div:nth-child(1) {
    width: 100%;
    background-color: #c7c7c7;
    padding: 1rem 1rem;
  }
  main section > div:last-child > div:nth-child(1) > h2 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    font-weight: lighter;
    letter-spacing: 2px;
    word-spacing: 4px;
    margin: 1.5rem 0;
  }
  main section > div:last-child > div:nth-child(1) > p {
    margin-top: 0.5rem;
    font-size: 1rem;
    letter-spacing: 1px;
    word-wrap: 3px;
    line-height: 1.5rem;
    text-align: justify;
  }
  main section > div:last-child > div:nth-child(1) > p:nth-child(3) {
    display: none;
  }
  main section > div:last-child > div:nth-child(1) > a {
    display: inline-block;
    margin-top: 1.3rem;
    margin-bottom: 0.5rem;
    font-family: arial;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    color: white;
  }
  main section > div:last-child > div:nth-child(2) {
    width: 100%;
    margin: 0.5rem 0;
  }
  main section > div:last-child > div:nth-child(2) img {
    width: 100%;
  }
  main section > div:last-child > div:nth-child(3) {
    width: 100%;
    background-color: #c7c7c7;
    padding: 1rem 0.5rem;
    text-align: center;
  }
  main section > div:last-child > div:nth-child(3) a {
    font-size: 1.2rem;
    font-family: arial;
    display: inline-block;
    text-decoration: none;
    color: white;
  }
  main section > div:last-child > div:nth-child(3) h2 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    font-family: arial;
    text-align: center;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  main {
    width: 100%;
  }
  main section {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  main section > div:first-child {
    width: 100%;
  }
  main section > div:first-child > div:nth-child(1) {
    width: 100%;
    display: flex;
    border: 1px solid #ddd;
    box-shadow: 0 0 4px silver;
  }
  main section > div:first-child > div:nth-child(1) img {
    width: 100%;
  }
  main section > div:first-child > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    margin-top: 0.5rem;
    padding: 0.5rem 0;
    box-shadow: 0 0 4px #242424;
  }
  main section > div:first-child > div:nth-child(2) h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: lighter;
    color: white;
    margin-right: 20px;
  }
  main section > div:first-child > div:nth-child(3) {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
  }
  main section > div:first-child > div:nth-child(3) div {
    width: 49.5%;
    height: 100%;
    box-shadow: 0 0 5px silver;
  }
  main section > div:first-child > div:nth-child(3) div img {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
  }
  main section > div:last-child {
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  main section > div:last-child > div:nth-child(1) {
    width: 49.5%;
    background-color: #c7c7c7;
    padding: 0.5rem 2rem;
    box-shadow: 0 0 3px grey;
  }
  main section > div:last-child > div:nth-child(1) h2 {
    margin: 1rem 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 3px;
  }
  main section > div:last-child > div:nth-child(1) p {
    text-indent: 20px;
    margin: 0.5rem;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 2rem;
    text-align: justify;
  }
  main section > div:last-child > div:nth-child(1) p:nth-child(3) {
    display: none;
  }
  main section > div:last-child > div:nth-child(1) a {
    display: inline-block;
    margin: 1rem 0.5rem;
    font-family: arial;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
  }
  main section > div:last-child > div:nth-child(2) {
    width: 49.5%;
    margin: 0.5rem 0;
    border: 1px solid grey;
    display: flex;
    box-shadow: 0 0 4px grey;
  }
  main section > div:last-child > div:nth-child(2) img {
    width: 100%;
  }
  main section > div:last-child > div:nth-child(3) {
    width: 100%;
    background-color: #c7c7c7;
    padding: 1rem 1rem;
    border: 1px solid #ddd;
    box-shadow: 0 0 4px silver;
  }
  main section > div:last-child > div:nth-child(3) p {
    text-align: center;
  }
  main section > div:last-child > div:nth-child(3) p a {
    font-size: 1.5rem;
    display: block;
    text-decoration: none;
    color: white;
  }
  main section > div:last-child > div:nth-child(3) h2 {
    font-size: 2rem;
    margin-top: 0.5rem;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  main {
    width: 100%;
  }
  main section {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  main section > div:first-child {
    width: 100%;
  }
  main section > div:first-child > div:nth-child(1) {
    width: 100%;
    display: flex;
    border: 1px solid #ddd;
    box-shadow: 0 0 4px silver;
  }
  main section > div:first-child > div:nth-child(1) img {
    width: 100%;
  }
  main section > div:first-child > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    margin-top: 0.5rem;
    padding: 0.5rem 0;
    box-shadow: 0 0 4px #242424;
  }
  main section > div:first-child > div:nth-child(2) h1 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: lighter;
    color: white;
  }
  main section > div:first-child > div:nth-child(3) {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
  }
  main section > div:first-child > div:nth-child(3) div {
    width: 49.5%;
    height: 100%;
    box-shadow: 0 0 5px silver;
  }
  main section > div:first-child > div:nth-child(3) div img {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
  }
  main section > div:last-child {
    width: 100%;
    margin-top: 0.5rem;
  }
  main section > div:last-child > div:nth-child(1) {
    width: 100%;
    background-color: #c7c7c7;
    padding: 0.5rem 1.5rem;
    box-shadow: 0 0 3px grey;
  }
  main section > div:last-child > div:nth-child(1) h2 {
    margin: 1rem 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    text-align: center;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 3px;
  }
  main section > div:last-child > div:nth-child(1) p {
    margin: 0 0;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 2rem;
    text-align: justify;
  }
  main section > div:last-child > div:nth-child(1) p:nth-child(3) {
    display: none;
  }
  main section > div:last-child > div:nth-child(1) a {
    display: inline-block;
    margin: 1rem 0;
    font-family: arial;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    color: white;
  }
  main section > div:last-child > div:nth-child(2) {
    width: 100%;
    margin: 0.5rem 0;
    border: 1px solid grey;
    display: flex;
    box-shadow: 0 0 4px grey;
  }
  main section > div:last-child > div:nth-child(2) img {
    width: 100%;
  }
  main section > div:last-child > div:nth-child(3) {
    width: 100%;
    background-color: #c7c7c7;
    padding: 1rem 1rem;
    border: 1px solid #ddd;
    box-shadow: 0 0 4px silver;
  }
  main section > div:last-child > div:nth-child(3) p {
    text-align: center;
  }
  main section > div:last-child > div:nth-child(3) p a {
    font-size: 1.2rem;
    display: block;
    text-decoration: none;
    color: white;
  }
  main section > div:last-child > div:nth-child(3) h2 {
    font-size: 2rem;
    margin-top: 0.5rem;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */